<div class="container">
  <div class="classroom">
    <h1 class="title">welcome
      <span class="username">
       <% if @username %>
         <%= @username %>
       <% end %>
      </span>
    </h1>
    <ul class="participants"></ul>
  </div>
  <div class="chatroom">
    <ul class="messages"></ul>
    <form action="">
      <input class="msg" autocomplete="off" /><button>Send</button>
    </form>
  </div>
</div>

<script>
  var COLORS = [
    '#e21400', '#91580f', '#f8a700', '#f78b00',
    '#58dc00', '#287b00', '#a8f07a', '#4ae8c4',
    '#3b88eb', '#3824aa', '#a700ff', '#d300e7'
  ];

  var socket = io.connect("<%= Settings.socket_url %>");
  var username = $.trim($('.username')[0].innerHTML);
  socket.emit('add user', username);


  // Gets the color of a username through our hash function
  function getUsernameColor (username) {
    // Compute hash code
    var hash = 7;
    for (var i = 0; i < username.length; i++) {
       hash = username.charCodeAt(i) + (hash << 5) - hash;
    }
    // Calculate color
    var index = Math.abs(hash % COLORS.length);
    return COLORS[index];
  }

  function addLoginMsg(data) {
    $('.participants').text('');
    var items = data.loginTime;

    for(var i = 0; i < items.length; i++) {
      var item = data.loginTime[i].split(':');
      var t = new Date(parseInt(item[1]));
      var f = t.toLocaleString("zh-Hans-CN").split(' ')[1];

      var $username = $('<span class="username">').text(item[0])
                       .css('color', getUsernameColor(item[0]));

      var $date = $('<span class="date">').text(" joined at " + f);

      var $participant = $('<li>').addClass(item[0]).append($username, $date);

      $('.participants').append($participant);
    }
  }

  // Adds the visual chat message to the message list
  function addChatMessage (data) {
    var $usernameDiv = $('<span class="username">').text(data.username)
                         .css('color', getUsernameColor(data.username));

    var $messageBodyDiv = $('<span class="messageBody">').text(data.message);

    var $messageDiv = $('<li class="message">').data('username', data.username)
                        .append($usernameDiv, $messageBodyDiv);

    $('.messages').append($messageDiv);
  }

  // Prevents input from having injected markup
  function cleanInput (input) {
    return $('<div/>').text(input).text();
  }

  $('form').submit(function(){
    var message = $('.msg').val();
    // Prevent markup from being injected into the message
    message = cleanInput(message);
    // if there is a non-empty message and a socket connection
    if (message) {
      $('.msg').val('');
      addChatMessage({
        username: username,
        message: message
      });
      // tell server to execute 'new message' and send along one parameter
      socket.emit('new message', message);
    }
    // if omit this statement, current page will jump to login page after you submited a message
    return false;
  });

  // socket events

  socket.on('new message', function(data){
    addChatMessage(data);
  });

  socket.on('user joined', function (data) {
    addLoginMsg(data);
  });

  socket.on('user left', function(data){
    $(".participants ." + data.username + " .name-color").css("color", "gray");
    setTimeout(function(){$(".participants ." + data.username).fadeOut(3000)}, 2000);
  });
</script>
