<h1>Classroom</h1>
<%= current_user.name %>

<ul id="messages"></ul>
<form action="">
  <input id="m" autocomplete="off" /><button>Send</button>
</form>

<script>
    var socket = io.connect("http://0.0.0.0:5001");
    socket.on("rt-change", function(message){
        alert("redis send this...");
     });
</script>
