<h1>Classroom</h1>
<h3> You are </h3>
<div class="username">
 <% if @username %>
   <%= @username %>
 <% else %>
    <%= link_to "login first", "/" %>
 <% end %>
</div>


<h3> Online </h3>
<div class="online-user">

</div>
<div class="online-user-list">
</div>


<script>
    var socket = io.connect("<%= Settings.socket_url %>");
    var username = $.trim($('.username')[0].innerHTML);
    socket.emit('joiner-name', $.trim($('.username')[0].innerHTML));
    socket.emit('add user', username);
    // Whenever the server emits 'user joined', log it in the chat body
    var updateUserList = function(data) {
      var arr = $.map(data.usernames, function(value, key){ return value;});
      $('.online-user-list').text(data.numUsers + " members: " + arr.join(', '));
    };
    socket.on('user joined', function (data) {
      updateUserList(data);
    });

    socket.on('user left', function(data){
      updateUserList(data);
    });
</script>
