<h1>Classroom</h1>
<h3> You are </h3>
<div class="username">
 <% if @username %>
   <%= @username %>
 <% else %>
    <%= link_to "login first", "/" %>
 <% end %>
</div>


<h3> Online </h3>
<div class="online-user">

</div>
<div class="online-user-list">

</div><br>
<h3>User login time</h3>
<div class="acticities">

</div>
<h3>User Left</h3>
<div class="user-left"></div>

<script>
    var socket = io.connect("<%= Settings.socket_url %>");
    var username = $.trim($('.username')[0].innerHTML);
    socket.emit('add user', username);
    // Whenever the server emits 'user joined', log it in the chat body
    var updateUserList = function(data) {
      var arr = $.map(data.usernames, function(value, key){ return value;});
      $('.online-user-list').text("Total members: " + data.numUsers);
    };

    function addLoginMsg(data) {
      $('.acticities').html('');
      var items = data.loginTime;
      for(var i = 0; i < items.length; i++) {
        var item = data.loginTime[i].split(':');
        var t = new Date(parseInt(item[1]));
        var f = t.toLocaleString("zh-Hans-CN")
        $('.acticities').append("User: " + item[0] + " ---- Login time: " + f + "<br><br>");
      }
    }

    socket.on('user joined', function (data) {
      updateUserList(data);
      addLoginMsg(data);
    });

    socket.on('user left', function(data){
      $('.user-left').text("User: " + data.username + " ---- has left");
      updateUserList(data);
    });
</script>
