<div class="container">
  <div class="classroom">
    <h1 class="title">welcome
      <span class="username">
       <% if @username %>
         <%= @username %>
       <% end %>
      </span>
    </h1><br>

    <ul class="participants"></ul>
  </div>
</div>

<script>
    var socket = io.connect("<%= Settings.socket_url %>");
    var username = $.trim($('.username')[0].innerHTML);
    socket.emit('add user', username);
    // Whenever the server emits 'user joined', log it in the chat body

    function addLoginMsg(data) {
      $('.participants').html('');
      var items = data.loginTime;
      for(var i = 0; i < items.length; i++) {
        var item = data.loginTime[i].split(':');
        var t = new Date(parseInt(item[1]));
        var f = t.toLocaleString("zh-Hans-CN").split(' ')[1];
        var text = '<span class="name-color">' + item[0] + '</span>';
        var log = '<span class="log">' + ' joined at ' + f + '</span>';
        $('.participants').append('<li class="' + item[0] + '">' + text + log + "</li>");
      }
    }

    socket.on('user joined', function (data) {
      addLoginMsg(data);
    });

    socket.on('user left', function(data){
      $(".participants ." + data.username + " .name-color").css("color", "gray");
      setTimeout(function(){$(".participants ." + data.username).fadeOut(3000)}, 2000);
    });
</script>
