<div class="container">
  <div class="classroom">
    <h1 class="title">
      welcome
      <span class="username">
        <%= @username %>
      </span>
    </h1>
    <ul class="participants"></ul>
  </div>
  <div class="chatroom">
    <div class="chat-area">
      <ul class="messages"></ul>
      <form action="">
        <input class="msg" autocomplete="off" /><button>Send</button>
      </form>
    </div>
  </div>
</div>

<%= javascript_include_tag "real-time-chat" %>
