<h1>Classroom</h1>
<div class="username">
	<%= current_user.name %>
</div>

this is redis saved: <%= @saved %>
<ul id="messages"></ul>
<form action="">
  <input id="m" autocomplete="off" /><button>Send</button>
</form>

<script>
    var socket = io.connect("http://0.0.0.0:5001");
    socket.emit('joiner-name', $.trim($('.username')[0].innerHTML));
</script>
