<h1>Classroom</h1>
<h3> You are </h3>
<div class="username">
 <% if @username %>
   <%= @username %>
 <% else %>
    <%= link_to "login first", "/" %>
 <% end %>
</div>


<h3> Online </h3>
<div class="online-user">

</div>
<div class="online-user-list">
</div>
<div class="acticities">

</div>


<script>
    var socket = io.connect("<%= Settings.socket_url %>");
    var username = $.trim($('.username')[0].innerHTML);
    socket.emit('add user', username);
    // Whenever the server emits 'user joined', log it in the chat body
    var updateUserList = function(data) {
      var arr = $.map(data.usernames, function(value, key){ return value;});
      $('.online-user-list').text(data.numUsers + " members: " + arr.join(', '));
    };

    function addLoginMsg(data) {
      $('.acticities').html('');
      for(var i = 0; i < data.loginTime.length; i++) {
        var t = new Date(parseInt(data.loginTime[i]));
        var f = t.toLocaleString("zh-Hans-CN")
        $('.acticities').append(f + "<br><br>");
      }
    }

    socket.on('user joined', function (data) {
      updateUserList(data);
      addLoginMsg(data);
    });

    socket.on('user left', function(data){
      updateUserList(data);
    });
</script>
