<h1>Classroom</h1>
<h3> You are </h3>
<div class="username">
 <% if @username %>
   <%= @username %>
 <% else %>
    <%= link_to "login first", "/" %>
 <% end %>
</div>


<h3> Online </h3>
<div class="online-user">

</div>

<script>
    var socket = io.connect("http://classroom.happycasts.net:5001");
    var username = $.trim($('.username')[0].innerHTML);
    socket.emit('joiner-name', $.trim($('.username')[0].innerHTML));
    socket.emit('add user', username);
    // Whenever the server emits 'user joined', log it in the chat body
    socket.on('user joined', function (data) {
      $('.online-user').append(data.username);
    });

</script>
