<div class="container">
  <div class="login page">
    <%= form_tag "/classroom", :method => "get" do %>
    <dl class="form">
      <dt><%= label_tag "Type your name" %></dt>
      <dd><%= text_field_tag :name, params[:name], class: "username", autofocus: true, autocomplete: "off" %></dd>
    </dl>
    <% end %>
    <div class="data">
      <%= link_to "Data", "/data" %>
    </div>
  </div>
</div>
