* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px Helvetica, Arial;
}
.container {
  width: 960px;
  margin: 50px auto;
}
.page {
  height: 100%;
  position: absolute;
  width: 100%;
}
.login.page {
  background-color: #000;
  width: 960px;
  height: 500px;
  label, .username {
    color: #fff;
    font-weight: 100;
    font-size: 200%;
  }
  .data {
    float: right;
    width: 100px;
    text-align: center;
    padding: 20px;
    a {
      color: #fff;
      display: block;
      border: 1px solid white;
      padding: 10px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  label {
    display: block;
    margin: 30px;
  }
  .form {
    height: 100px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
  }
  .username {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
  }
}

.classroom {
  .title {
    font-size: 200%;
    color: gray;
    font-weight: normal;
    margin-bottom: 30px;
  }
  .date {
    color: gray;
    font-size: 70%;
  }
  .participants {
    list-style-type: none;
    font-size: 150%;
    color: gray;
    li {
      margin-bottom: 30px;
    }
  }
  .username {
    padding-right: 30px;
  }
}

.chatroom {
  border: 1px solid gray;
  border-bottom: none;
  position: relative;
  height: 400px;
  width: 400px;
  .chat-area {
    height: 100%;
    padding-bottom: 36px;
  }
  form {
    background: #000;
    padding: 3px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  form input {
    border: 0;
    padding: 10px;
    height: 36px;
    width: 83%;
    margin-right: .5%;
  }
  form button {
    width: 16%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
  }
  .messages {
    list-style-type: none;
    overflow-y: scroll;
    height: 100%;
    margin: 0;
    padding: 0;
    li {
      padding: 20px 10px;
    }
    .username {
      display: table-cell;
      padding-right: 30px;
    }
    .messagebody {
      display: table-cell;
      margin-left: 30px;
    }
    li:nth-child(odd) {
      background: #eee;
    }
  }
}
